{
  "global": {
    "pid": "/tmp/glue.pid",
    "monitor_interval": 1,
    "session_key": "glue",
    "debug": true
  },
  "substrate": {
    "id": "holy",
    "network": "darwinia",
    "image": "darwinianetwork/darwinia:release-v0.6.0",
    "node_key": "0x46e06a6d52fe3508babe698fca9e403bebb09059d2e0bd64d174bc6c114b3557",
    "port": 20222,
    "base_path": "opts/darwinia-ops/data",
    "auto_use_latest":"false",
    "validator": false,
    "boot_nodes": []
  }
}